body{
    background: black;
}
.katta{
    border: 2px solid white;
    height: 672px;
    width: 672px;
    margin-left: 20%;
}
.sx{
    border: 2px solid blue;
    height: 80px;
    width: 80px;
    float: left;
    background: white;
}
.xs{
    border: 2px solid blue;
    height: 80px;
    width: 80px;
    float: left;
    background: black;
}